<h1> Edit article</h1>

<p><%= @article.title %></p>

<%=
  render partial: 'partials/article_form',
  locals: {
    request_url: '/articles/' + params[:id],
    request_method: 'PATCH',
    prepopulated_title: @article.title,
    prepopulated_description: @article.description
  }
%>

<style>
  .backend-error {
    color: red;
  }
</style>
