<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |error| %>
    <h4 class='backend-error'><%= error %></h4>
  <% end %>
<% end %>

<%=
  react_component('forms/article_form', {
    request_method: request_method,
    request_url: request_url,
    form_authenticity_token: form_authenticity_token,
    prepopulated_title: prepopulated_title ||= '',
    prepopulated_description: prepopulated_description ||= ''
  })
%>

<br />
<%= link_to 'Cancel', articles_path %>
