<h1> Create a new article</h1>

<%=
  render partial: 'partials/article_form',
  locals: {
    request_url: '/articles',
    request_method: 'POST',
    article_id: params[:id]
  }
%>

<style>
  .error-message, .backend-error {
    color: red;
  }
</style>
